body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, rgb(152,230,152),rgb(91,215,91));
}

.caixaFormulario{
	color: white;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.7);
	padding: 20px;
	border-radius: 15px;
	width: 30%;	
}

fieldset{
	border:3px solid #33cc33;
}

legend{
	border: 1px solid #33cc33;
	padding: 10px;
	text-align: center;
	background-color: #33cc33;
	border-radius: 8px;
}

.inputFormulario{
	position: relative;
}

.inputUserFormulario{
	background:none;
	border:none;
	border-bottom: 1px solid white;
	outline: none;
	color: white;
	font-size: 15px;
	width: 100%;
	letter-spacing: 2px;
}

.labelInputFormulario{
	position: absolute;
	top:0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
}

.inputUserFormulario:focus ~ .labelInputFormulario {
	top:-20px;
	font-size: 12px;
	color: #33cc33;
}