body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, rgb(152,230,152),rgb(91,215,91));
}

.caixaFormulario{
	color: white;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,.5);
	padding: 10px;
	border-radius: 8px;
	width: 70%;	
}

fieldset{
	border:3px dashed #ffe203;
	border-radius: 5px;
}

legend{
	border: 1px solid #ffe203;
	padding: 10px;
	text-align: center;
	background-color: #ffe203; /*#33cc33;*/
	border-radius: 5px;
}

.inputFormulario{
	position: relative;
}

.inputUserFormulario{
	background:none;
	border:none;
	border-bottom: 1px solid white;
	outline: none;
	color: white;
	font-size: 15px;
	width: 100%;
	letter-spacing: 2px;
}

.labelInputFormulario{
	position: absolute;
	top:0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
	/*color: #ffe203; #777575;*/
}

.inputUserFormulario:focus ~ .labelInputFormulario,
.inputUserFormulario:valid ~ .labelInputFormulario{
	top:-20px;
	font-size: 12px;
	color: #ffe203; #33cc33;
}

#nascimentoFormulario{
	border: none;
	padding: 8px;
	border-radius: 	5px;
	outline: none;
	font-size: 12px;
}

#submitFormulario{
	background-image: linear-gradient(to right, rgb(32,77,144), rgb(25,43,76));
	width: 100%;
	border: none;
	padding: 15px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
	letter-spacing: .2em;
	font-weight: bold;
}

#submitFormulario:hover{
	background-image: linear-gradient(to right, rgb(255,226,3), rgba(25,43,76));
	text-shadow: 2px 2px 5px black;
}

.projetoFormulario > legend {
	color: #000 !important;
}

.inputGeneroFormulario > label{
	background-color: #ffe203 !important;
}

#retornar{
	margin: 5% 5% 0 2%;
}