body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, rgb(152,230,152),rgb(91,215,91));
}

.caixaFormulario{
	color: white;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(3,53,128,0.85);
	padding: 10px;
	border-radius: 15px;
	width: 70%;	
}

fieldset{
	border:3px dashed #ffe203;
}

legend{
	border: 1px solid #ffe203;
	padding: 10px;
	text-align: center;
	background-color: #ffe203; /*#33cc33;*/
	border-radius: 8px;
}

.inputFormulario{
	position: relative;
}

.inputUserFormulario{
	background:none;
	border:none;
	border-bottom: 1px solid white;
	outline: none;
	color: white;
	font-size: 15px;
	width: 100%;
	letter-spacing: 2px;
}

.labelInputFormulario{
	position: absolute;
	top:0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
	color: #ffe203; /*#777575;*/
}

.inputUserFormulario:focus ~ .labelInputFormulario,
.inputUserFormulario:valid ~ .labelInputFormulario{
	top:-20px;
	font-size: 12px;
	color: #ffe203; #33cc33;
}

#nascimentoFormulario{
	border: none;
	padding: 8px;
	border-radius: 	10px;
	outline: none;
	font-size: 15px;
}

#submit{
	background-image: linear-gradient(to right, rgb(77,77,77), rgb(26,26,26));
	width: 100%;
	border: none;
	padding: 15px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10px;
}