body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, rgb(152,230,152),rgb(91,215,91));
}

.caixaFormulario{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.8);
}